
    @font-face {
        font-family: "BUFFIED_";
        src: url(../Html-CSS/exercice_5/BUFFIED_.TTF)
    }

    @font-face{
        font-family: "pricedown";
        src: url(../Html-CSS/exercice_5/pricedown bl.ttf)
    }
    
    @font-face{
        font-family: "Starjedi";
        src: url(../Html-CSS/exercice_5/Starjedi.ttf)
    }
  
  h1{
      font-family: 'BUFFIED_';
  }

  .HTML{
      font-family:'pricedown';
  }

  .CSS{
      font-family: 'Starjedi';
  }